.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#headerimage{
  height: 400px;
  width:vw;
  background-image: url(../pizza.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Search{
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top{
  height: 50px;
  background-color:rgb(255, 165, 0,0.8);
  font-size: 30px;
  font-weight: 400;
  color: white;
  line-height: 50px;
}
#Search{
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#BusinessSearch{
   background-color: white;
   height: 40px;
   width: 400px;
   border-radius: 3px;
   border: 1px solid white;
   font-size: 15px;
   margin: 20px;
}
#location{
  background-color: white;
  height: 40px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 15px;
  color: black;
  margin: 20px;
}
#BusinessSearch:focus::placeholder{
  color: transparent;

}
#BusinessSearch:focus{
  outline: none;
  border: 1px solid white;
}
#location:focus::placeholder{
  color: transparent;
}
#location:focus{
  outline: none;
  border: 1px solid white;
}
#itemSubmit{
  height: 50px;
  width: 100px;
  border-radius: 4px;
  outline: none;
  border: 1px solid transparent;
  color: white;
  margin: 25px;
  background-color: rgba(255, 166, 0, 0.744);
  font-size: 15px;
  font-style: italic;
  
}

#headerlink{
  margin: 30px;
  margin-bottom: 0px;
  color: white;
  width: 70px;
  background-color: transparent;
  border:none;
  outline: none;
}
#upper{
  width: 500px;

}
#content{
  height: vh;
  width: vw;
  margin: 50px;
  
}